<footer id="footer">
    <% if (theme.sidebar === 'bottom'){ %> <%- partial('_partial/sidebar') %> <%
    } %>
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author ||
            config.title %><br />
            <form
                style="border: 1px solid #ccc; padding: 3px; text-align: center"
                action="https://tinyletter.com/k7n4n5t3w4rt"
                method="post"
                target="popupwindow"
                onsubmit="window.open('https://tinyletter.com/k7n4n5t3w4rt', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
            >
                <p><label for="tlemail">Enter your email address</label></p>
                <p>
                    <input
                        type="text"
                        style="width: 140px"
                        name="email"
                        id="tlemail"
                    />
                </p>
                <input type="hidden" value="1" name="embed" /><input
                    type="submit"
                    value="Subscribe"
                />
                <p>
                    <a href="https://tinyletter.com" target="_blank"
                        >powered by TinyLetter</a
                    >
                </p>
            </form>
            <!--
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
-->
        </div>
    </div>
</footer>
